.container{
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 2.5fr 2.5fr;

}
*{
    font-family: 'Roboto Slab', serif;
}

.sidebar{    
    grid-column: 1/2;
    grid-row: 1/4;
    color: azure;
    background-color: #1992d4;
    font-size: 20px;
    font-weight: 600;
}

li{
    list-style-type: none;
}

.logo{
    font-size: 30px;
    padding: 5%;    
}

.menu-one{
   margin-left: -5%;
     
}


.menu-two{
    margin-left: -5%;
}

.header{
    border: 1px solid black;
    grid-column:2/3;
    grid-row:1/2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.input{
    border: 1px solid black;
}

.set-one{
    border: 1px solid black;
}

.set-two{
    border: 1px solid black;
}

.set-buttons{
    border: 1px solid black;
}

.Main-Section{
    border: 1px solid black;
    grid-column: 2/3;
    grid-row:2/4;
    display: grid;
    grid-template-columns: 3fr 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    background-color:#e2e8f0;
    
}

.projects{
    border: 1px solid black;
    grid-column: 1/3;
    grid-row:1/3;
       
}

.project-title{
    border: 1px solid black;
    text-align: center;
    margin-top: 5px;
    font-weight: 900;
    font-size: 30px;
}

.article{
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.project-card{
    border: 1px solid black;
}

.announcement-section{
    border:1px solid black;
    grid-column: 3/4;
    grid-row:1/2;
}

.announcement-card{
    border: 1px solid black;
}

.trending{
    
    grid-column: 3/4;
    grid-row:2/3;
}

.trending-header{
    text-align: center;
    margin-top: 5px;
    font-weight: 900;
    font-size: 30px;
}

.trending-card{
    display: grid;
    margin: 5%;
}

.trending-section{
    
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(8, 1fr);
    gap:10px;
    margin: 2%;
    padding: 2%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 5px 8px #888888;
}

#trending-card1{
    grid-column: 1/3;
    grid-row: 1/3;
}

#trending-card2{
    grid-column: 1/3;
    grid-row: 3/5;
}

#trending-card3{
    grid-column: 1/3;
    grid-row: 5/7;
}

#trending-card4{
    grid-column: 1/3;
    grid-row: 7/9;
}

#trending-card1,#trending-card2,#trending-card3,#trending-card4{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
}

.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row:1/3;
    
}

.avatar-img{
    width: 50%;
    height: auto;    
    grid-column: 1/2;
    grid-row: 1/2;
}

.user{
    grid-column: 2/3;
    grid-row: 1/2;
    align-items: end;
    display: inherit;
    font-weight: 600;
}

.user-app{
    grid-column: 2/3;
    grid-row: 2/3;
    color:darkgray;
}